apiVersion: batch/v1
kind: Job
metadata:
  name: kaniko-montage-ai-build-local
  namespace: montage-ai
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      nodeSelector:
        kubernetes.io/hostname: codeai-fluxibriserver
      containers:
        - name: kaniko
          image: gcr.io/kaniko-project/executor:latest
          args:
            - --context=git://github.com/mfahsold/montage-ai.git#main
            - --dockerfile=Dockerfile
            - --destination=192.168.1.16:5000/montage-ai:latest
            - --snapshot-mode=time
            - --verbosity=info
            - --custom-platform=linux/amd64
            - --insecure
            - --skip-tls-verify-registry=192.168.1.16:5000
