apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: batch/v1
      kind: Job
      metadata:
        name: montage-ai-render
        namespace: montage-ai
      spec:
        template:
          spec:
            nodeSelector:
              kubernetes.io/arch: amd64
            containers:
              - name: montage-ai
                resources:
                  requests:
                    cpu: "1"
                    memory: "4Gi"
                  limits:
                    cpu: "2"
                    memory: "8Gi"
