apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: batch/v1
      kind: Job
      metadata:
        name: montage-ai-render
        namespace: montage-ai
      spec:
        template:
          spec:
            nodeSelector:
              kubernetes.io/arch: amd64
            containers:
              - name: montage-ai
                securityContext:
                  privileged: true
                  allowPrivilegeEscalation: true
                resources:
                  requests:
                    cpu: "2"
                    memory: "8Gi"
                  limits:
                    cpu: "6"
                    memory: "48Gi"
                volumeMounts:
                  - name: dev-dri
                    mountPath: /dev/dri
                    readOnly: true
            volumes:
              - name: dev-dri
                hostPath:
                  path: /dev/dri
                  type: DirectoryOrCreate
