apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: ghcr.io/mfahsold/montage-ai
    newName: registry.registry.svc.cluster.local:5000/montage-ai
    newTag: latest-amd64

patches:
  - path: patch-job-amd.yaml
