apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: batch/v1
      kind: Job
      metadata:
        name: montage-ai-render
        namespace: montage-ai
      spec:
        template:
          spec:
            nodeSelector:
              kubernetes.io/arch: arm64
              kubernetes.io/hostname: codeaijetson-desktop
            # runtimeClassName: nvidia  # uncomment if runtimeclass exists
            tolerations:
              - key: "node.kubernetes.io/disk-pressure"
                operator: "Exists"
                effect: "NoSchedule"
            containers:
              - name: montage-ai
                env:
                  - name: USE_GPU
                    value: "prefer"
                  - name: VK_ICD_FILENAMES
                    value: "/usr/lib/aarch64-linux-gnu/nvidia/nvidia_icd.json"
                resources:
                  requests:
                    cpu: "3"
                    memory: "4Gi"
                    nvidia.com/gpu: "1"
                  limits:
                    cpu: "6"
                    memory: "7Gi"
                    nvidia.com/gpu: "1"
            volumes:
              - name: dev-dri
                hostPath:
                  path: /dev/dri
                  type: DirectoryOrCreate
