apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: batch/v1
      kind: Job
      metadata:
        name: montage-ai-render
        namespace: montage-ai
      spec:
        template:
          spec:
            nodeSelector:
              kubernetes.io/hostname: codeaijetson-desktop
            runtimeClassName: nvidia
            containers:
              - name: montage-ai
                env:
                  - name: USE_GPU
                    value: "prefer"
                  - name: VK_ICD_FILENAMES
                    value: "/usr/lib/aarch64-linux-gnu/nvidia/nvidia_icd.json"
                resources:
                  requests:
                    cpu: "4"
                    memory: "8Gi"
                    nvidia.com/gpu: "1"
                  limits:
                    cpu: "6"
                    memory: "16Gi"
                    nvidia.com/gpu: "1"
            volumes:
              - name: dev-dri
                hostPath:
                  path: /dev/dri
                  type: DirectoryOrCreate
